@import 'theme-relearn-light.css';
@import 'theme-terminal42.css';

:root {
    --MAIN-TITLES-H1-TEXT-color: #a13609;
    --MENU-SEARCH-color: var(--MAIN-TEXT-color);
    --MENU-HEADER-color: #fff;
}
